
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 45px;
}

header p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

nav {
    background: #77aaff;
    color: #fff;
    padding: 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 5px;
    transition: background-color 0.3s, transform 0.1s;
    display: inline-block;
    border-radius: 5px;
}

/* Hover effect: change color and indent */
nav ul li a:hover {
    color: inherit;                           /* Prevents visited links from turning into another color */
    background-color: lightslategrey;       /* Change to a darker color */
    transform: translateY(1px);               /* Indent effect */
}

nav ul li a:visited {
    color: inherit;                           /* Prevents visited links from turning blue */
}

section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

#about p {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

#research ul {
    list-style: none;
    list-style-type:none;
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
}

#research ul li {
    margin-bottom: 10px;
}

#projects .project {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Links */
a:visited {
    color: blue; /* Ensures visited links remain blue */
}

a:hover {
    color: red; /* Optional: changes color on hover for a visual effect */
}

a:active {
    color: blue; /* Ensures links remain blue when clicked */
}
