<header>
    <div class="header-container">
        <div class="header-info">
            <h1 class="name"><a href="https://valentinsvelev.github.io">Valentin Velev</a></h1>
            <p>MSc Data Science Student | NLP Researcher</p>
            <p class="icons">
                <a href="mailto:valentin.velev@uni-konstanz.de" target="_blank" class="icon-link-header" style="padding-top:25px; padding-right: 10px;"><i class="fas fa-envelope fa-lg"></i></a>
                <a href="https://github.com/valentinsvelev" target="_blank" class="icon-link-header" style="padding-right: 10px;"><i class="fab fa-github fa-lg"></i></a>
                <a href="https://www.kaggle.com/valentinvelev" target="_blank" class="icon-link-header" style="padding-right: 10px;"><i class="fab fa-kaggle fa-lg"></i></a>
                <a href="https://www.linkedin.com/in/valentinvelev/" target="_blank" class="icon-link-header" style="padding-right: 10px;"><i class="fab fa-linkedin fa-lg"></i></a>
                <a href="https://bsky.app/profile/valentinvelev.bsky.social" target="_blank" class="icon-link-header"><i class="fa-brands fa-bluesky"></i></a>
            </p>
        </div>
        <nav class="header-nav">
            <!-- Hamburger button -->
            <button id="hamburger" class="hamburger" aria-label="Toggle Navigation">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </button>

            <!-- Navigation menu -->
            <ul id="nav-menu" class="nav-menu">
                <li><a href="../index.html">About Me</a></li>
                <li><a href="../publications.html">Publications</a></li>
                <li><a href="../projects.html">Projects</a></li>
                <li><a href="../blog.html">Blog</a></li>
                <li><a href="../cv.html">CV</a></li>
            </ul>
        </nav>
    </div>
    </header>
